**/__pycache__/
**/*.log
AfterHoursMaple/Library/
AfterHoursMaple/Temp/
AfterHoursMaple/Obj/
AfterHoursMaple/Logs/
AfterHoursMaple/UserSettings/
AfterHoursMaple/Tools/cache/
AfterHoursMaple/Builds/*.zip
.tools/
